<div ng-controller="BooksShow as b">
	<h1 class="ui header" align="center">Book detail page</h1>


	<form name="bookForm" novalidate>

		<div class="form-group"
		     ng-class="{ 'has-error' : bookForm.name.$invalid && (b.click || !bookForm.name.$pristine)}">
			<label>Name</label>
			<input type="text" name="name" class="form-control" ng-model="b.book.name" ng-maxlength="256" required
			       ng-value="b.book.name">
			<p ng-show="bookForm.name.$error.maxlength" class="help-block">Name of book is too long.</p>
			<p ng-show="bookForm.name.$error.required && (b.click || !bookForm.name.$pristine)" class="help-block">Your
				name of book is required.</p>
		</div>
		<div class="form-group"
		     ng-class="{ 'has-error' : bookForm.publisher.$invalid && (b.click || !bookForm.publisher.$pristine) }">
			<label>Publisher</label>
			<input type="text" name="publisher" class="form-control" ng-model="b.book.publisher" ng-maxlength="256"
			       ng-value="b.book.publisher">
			<p ng-show="bookForm.publisher.$error.maxlength" class="help-block">Publisher of book is too long.</p>
		</div>
		<div class="form-group"
		     ng-class="{ 'has-error' : bookForm.yearPublished.$invalid && (b.click || !bookForm.yearPublished.$pristine) }">
			<label>Year published</label>
			<input type="number" name="yearPublished" class="form-control" ng-model="b.book.yearPublished"
			       ng-maxlength="4" ng-value="b.book.yearPublished">
			<p ng-show="bookForm.yearPublished.$error.maxlength" class="help-block">Year publisher is too long.</p>
		</div>
		<div ng-if="!(b.selectAuthors.length === 0)" align="center">
			<br><h3>Selected authors:</h3>
			<div align="right">
				<div uib-dropdown style="display: inline">
					<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
						ADD AUTHOR
					</button>
					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
						<li role="menuitem" ng-click="addAuthorForBook(author)" ng-repeat="author in b.authors">
							<a ng-click="b.addAuthorForBook(author)">{{author.firstName}} {{author.secondName}}</a>
						</li>
					</ul>
				</div>
			</div>
			<table class="table table-striped">
				<thead>
				<th>#</th>
				<th>Full name</th>
				<th>Delete</th>
				</thead>
				<tbody ng-repeat="author in b.book.authors">
				<tr>
					<td>
						{{$index + 1}}
					</td>
					<td>
						{{author.firstName}} {{author.secondName}}
					</td>
					<td>
						<button type="button" class="btn btn-danger" ng-click="b.deleteAuthor(author)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
					</td>
				</tbody>
			</table>
		</div>
		<div align="center">
			<button type="button" class="btn btn-primary"
			        ng-click="(b.click = true) && !bookForm.name.$invalid && !bookForm.publisher.$invalid && !bookForm.yearPublished.$invalid && b.saveChange()">
				Save
			</button>
			<button class="btn btn-warning" type="button" ng-click="b.cancelChange()">Cancel</button>
		</div>
	</form>


	<h3 align="center">Reviews</h3>
	<div align="right">
		<button type="button" class="btn btn-primary" ng-click="b.addReview(book)">
			REVIEW <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>
	</div>
	<table class="table table-striped">
		<thead>
		<tr>
			<th class="single line">#</th>
			<th>Commenter name</th>
			<th>Comment</th>
			<th>Create date</th>
			<th>Rating</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="review in b.reviewsAndCountPages.list">
			<td>
				{{$index + 1}}
			</td>
			<td class="single line">
				{{review.commenterName}}
			</td>
			<td>
				{{review.comment}}
			</td>
			<td>
				{{review.createDate}}
			</td>
			<td>
				<span uib-rating ng-model="review.rating" max="5" read-only="true"
				      uib-tooltip="{{review.rating}}"></span>
			</td>
		</tr>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
	<ul uib-pagination total-items="b.reviewsAndCountPages.totalItems" ng-model="b.currentPage"
	    ng-change="b.pageChanged(b.currentPage)" max-size="b.maxPages" class="pagination-sm" boundary-links="true"
	    rotate="false"></ul>
</div>

<!--Dialog Add review-->
<script type="text/ng-template" id="add-review.html">
	<div class="modal-header" align="center">
		<label><h3>Add new review about: {{addReview.book.name}}</h3></label>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<!-- FORM ============ -->

				<form name="reviewForm" novalidate>
					<!--Comment Name -->
					<div class="modal-body">
						<div class="form-group" ng-class="{ 'has-error' : reviewForm.commentName.$invalid && (addReview.click || !reviewForm.commentName.$pristine)}">
							<label>Commenter name</label>
							<input type="text" name="commentName" class="form-control" ng-model="commentName" required>
							<p ng-show="reviewForm.commentName.$error.required && (addReview.click || !reviewForm.commentName.$pristine)" class="help-block">Your commenter name of book is required.</p>
						</div>

						<div class="form-group" ng-class="{ 'has-error' : reviewForm.textArea.$invalid && (addReview.click || !reviewForm.textArea.$pristine)}">
							<label>Comment</label>
							<textarea type="text" name="textArea" class="form-control" ng-model="textArea" required></textarea>
							<p ng-show="reviewForm.textArea.$error.required && (addReview.click || !reviewForm.textArea.$pristine)" class="help-block">Your comment of book is required.</p>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : reviewForm.span.$invalid && (addReview.click || !reviewForm.span.$pristine)}">
							<span required name="span" uib-rating ng-model="ratingStars" max="addReview.max" on-leave="addReview.overStar = null" ng-model="ratingStars" aria-labelledby="addReview.defaultRating"></span>
							<button type="button" class="btn btn-sm btn-danger" ng-click="ratingStars = null">Clear</button>
							<p ng-show="reviewForm.span.$error.required && (addReview.click || !reviewForm.span.$pristine)" class="help-block">Your rating of book is required.</p>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="(addReview.click = true)  && !reviewForm.commentName.$invalid && !reviewForm.span.$invalid && !reviewForm.textArea.$invalid && addReview.ok(commentName, textArea, ratingStars)">Save</button>
						<button class="btn btn-warning" type="button" ng-click="addReview.cancel()">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</script>

<!--Success Dialog-->
<script type="text/ng-template" id="message.html">
	<div draggable=".modal-header">
		<div class="modal-header" align="center">
			<h3 class="modal-title">{{message.messageTitle}}</h3>
		</div>
		<div class="modal-body">
			<form>
				<div class="form-row">
					<div class="col" align="center">
						<label>{{message.message}}</label>
					</div>
				</div>
			</form>
		</div>
		<div align="center">
			<button class="btn btn-primary" type="button" data-ng-click="message.close()">CLOSE</button>
		</div>
		<br>
	</div>
</script>


<!--Error Dialog-->
<script type="text/ng-template" id="error.html">
	<div draggable=".modal-header">
		<div class="modal-header" align="center">
			<h3 class="modal-title">Error!</h3>
		</div>
		<div class="modal-body">
			<form>
				<div class="form-row">
					<div class="col" align="center">
						<label>The rating can't be less 1</label>
					</div>
				</div>
			</form>
		</div>
		<div align="center" class="modal-footer">
			<button class="btn btn-danger" type="button" data-ng-click="errorDialog.close()">CLOSE</button>
		</div>
	</div>
</script>