<div ng-controller="Controller as a">
    <nav>
        <ul class="pagination justify-content-center">
            <li ng-if="a.currentPage === 1" class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li ng-if="a.currentPage != 1" class="page-item">
                <a class="page-link" tabindex="-1" ng-click="a.openPage(a.currentPage - 1)">Previous</a>
            </li>
            <li ng-if="a.currentPage != 1" class="page-item">
                <a class="page-link" tabindex="-1" ng-click="a.openPage(1)">1</a></li>
            <li ng-if="a.currentPage === 3" class="page-item">
                <a class="page-link" tabindex="-1" ng-click="a.openPage(2)">2</a>
            </li>
            <li ng-if="a.currentPage > 3" class="page-item disabled">
                <a class="page-link">...</a>
            </li>
            <li class="page-item">
                <a class="page-link">{{a.currentPage}}</a>
            </li>
            <li ng-if="a.currentPage >= 1 && a.authorsAndCountPages.pageCount > 3 && a.currentPage < a.authorsAndCountPages.pageCount - 2" class="page-item disabled">
                <a class="page-link">...</a>
            </li>
            <li ng-if="a.currentPage === a.authorsAndCountPages.pageCount - 2" class="page-item">
                <a class="page-link" tabindex="-1">{{a.authorsAndCountPages.pageCount - 1}}</a>
            </li>
            <li ng-if="a.currentPage != a.authorsAndCountPages.pageCount" class="page-item">
                <a class="page-link" tabindex="-1" ng-click="a.openPage(a.authorsAndCountPages.pageCount)">{{a.authorsAndCountPages.pageCount}}</a>
            </li>
            <li ng-if="a.currentPage != a.authorsAndCountPages.pageCount" class="page-item">
                <a class="page-link" tabindex="-1" ng-click="a.openPage(a.currentPage + 1)">Next</a>
            </li>
            <li ng-if="a.currentPage === a.authorsAndCountPages.pageCount" class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
        </ul>
    </nav>
    <h1 class="ui header" align="center">List of authors</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th colspan="6">
                <div class="ui right floated small primary labeled icon button">
                    <i class="user icon"></i> Add Author
                </div>
            </th>
        </tr>
        <tr><th class="single line">#</th>
            <th>Full name</th>
            <th>Create date</th>
            <th>Action</th>
        </tr></thead>
        <tbody ng-repeat="author in a.authorsAndCountPages.authorDtoList">
        <tr>
            <td>
                {{$index + (a.currentPage-1)*a.perPage + 1}}
            </td>
            <td class="single line">
                {{author.secondName}} {{author.firstName}}
            </td>
            <td>
                {{author.createDate}}
            </td>
            <td>
                <div ng-if="author.rating == null">This author dosen't have review</div>
                <div>{{author.rating}}</div>
            </td>
            <td>
                <button type="button" class="btn btn-warning">
                    EDIT
                </button>
                <button type="button" class="btn btn-danger">
                    DELETE
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot class="full-width">
        <tr>
            <th></th>
            <th>
                <button type="button" class="btn btn-primary" ng-click="a.openModal()">Add author</button>
            </th>
        </tr>
        </tfoot>
    </table>
</div>

<!--Dialog-->
<script type="text/ng-template" id="modal.html">
    <div draggable=".modal-header">
        <div class="modal-header">
            <h3 class="modal-title">Add new author</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-row">
                    <div class="col">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control is-valid" placeholder="First name" id="firstName" ng-model="firstName" required>
                        <div class="invalid-feedback">
                            First name isn't correct
                        </div>
                    </div>
                    <div class="col">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control is-valid" placeholder="Last name" id="lastName" ng-model="lastName" required>
                        <div class="invalid-feedback">
                            Last name isn't correct
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="modal.close(firstName, lastName)">OK</button>
            <button class="btn btn-warning" type="button" ng-click="modal.cancel()">Cancel</button>
        </div>
    </div>
</script>

